* {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica",
    "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.4;
  margin: 0;
}

h3 {
  font-size: 1.3rem;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 60rem;
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 2em;
}

.dex-container {
  color: #333;
  margin: 45px auto;
  max-width: 500px;
  min-width: 320px;
  text-align: center;
}

.dex-kubeconfig-container {
  color: #333;
  margin: 45px auto;
  max-width: 1100px;
  min-width: 320px;
  text-align: left;
}

.plugin-kubeconfig-container {
  color: #333;
  margin: 45px auto;
  max-width: 1100px;
  min-width: 320px;
  text-align: left;
}

.dex-btn {
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.dex-btn:focus {
  outline: none;
}

.dex-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: none;
}

.dex-btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px 0 0 4px;
  float: left;
  height: 36px;
  margin-right: 5px;
  width: 36px;
}

.dex-btn-icon--local {
  background-color: #84b6ef;
  background-image: url(./button.svg);
}

.dex-btn-text {
  font-weight: 500;
  line-height: 36px;
  padding: 6px 12px;
  text-align: center;
}

.dex-separator {
  color: #999;
}

.dex-error-box {
  background-color: #dd1327;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  max-width: 320px;
  padding: 4px 0;
}

.dex-error-box {
  margin: 20px auto;
}

div.groups {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

div.command {
  margin-top: 15px;
  position: relative;
}

.command .btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

pre code {
  background-color: #1b2029;
  color: #ffffff;
  display: block;
  padding: 20px;
}
